In [1]:
import pandas as pd
file_path = "C:/Users/min22/Desktop/Artifical intelligence/titanic.csv"

df = pd.read_csv(file_path)
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [7]:
import pandas as pd
df = pd.read_csv("C:/Users/min22/Desktop/Artifical intelligence/titanic.csv")  # 파일 경로 설정 필요
survivor_count = df["Survived"].sum()  # 1의 개수 합산
print(f"생존자 수: {survivor_count}")

생존자 수: 342

In [9]:
import pandas as pd

# CSV 파일 불러오기
df = pd.read_csv("C:/Users/min22/Desktop/Artifical intelligence/titanic.csv")  # 파일 경로 설정 필요

# "Name" 컬럼 삭제
df = df.drop(columns=["Name"])

# 변경된 데이터 확인
print(df.head())

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch  \
0            1         0       3    male  22.0      1      0
1            2         1       1  female  38.0      1      0
2            3         1       3  female  26.0      0      0
3            4         1       1  female  35.0      1      0
4            5         0       3    male  35.0      0      0

             Ticket     Fare Cabin Embarked
0         A/5 21171   7.2500   NaN        S
1          PC 17599  71.2833   C85        C
2  STON/O2. 3101282   7.9250   NaN        S
3            113803  53.1000  C123        S
4            373450   8.0500   NaN        S

In [11]:
import pandas as pd

# CSV 파일 불러오기
df = pd.read_csv("C:/Users/min22/Desktop/Artifical intelligence/titanic.csv")  # 파일 경로 설정 필요

# "Name" 컬럼 삭제
df = df.drop(columns=["Name"])

# 변경된 데이터 확인
print(df.head())

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch  \
0            1         0       3    male  22.0      1      0
1            2         1       1  female  38.0      1      0
2            3         1       3  female  26.0      0      0
3            4         1       1  female  35.0      1      0
4            5         0       3    male  35.0      0      0

             Ticket     Fare Cabin Embarked
0         A/5 21171   7.2500   NaN        S
1          PC 17599  71.2833   C85        C
2  STON/O2. 3101282   7.9250   NaN        S
3            113803  53.1000  C123        S
4            373450   8.0500   NaN        S

In [13]:
# 데이터 인코딩 
from sklearn.preprocessing import LabelEncoder

# 데이터 불러오기
df = pd.read_csv("C:/Users/min22/Desktop/Artifical intelligence/titanic.csv")

# LabelEncoder 객체 생성
le = LabelEncoder()

# "Sex" 열을 숫자로 변환
df["Sex"] = le.fit_transform(df["Sex"])

# "Embarked" 열 변환 (결측치 제거 후 진행)
df["Embarked"] = le.fit_transform(df["Embarked"].astype(str))

print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    1  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0  38.0      1      0
2                             Heikkinen, Miss. Laina    0  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  35.0      1      0
4                           Allen, Mr. William Henry    1  35.0      0      0

             Ticket     Fare Cabin  Embarked
0         A/5 21171   7.2500   NaN         2
1          PC 17599  71.2833   C85         0
2  STON/O2. 3101282   7.9250   NaN         2
3            113803  53.1000  C123         2
4            373450   8.0500   NaN         2